<table class="row footer">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
						<span class="center apple-links-white">{{mall.streetaddress}}, {{mall.city}}, {{mall.state}}, {{mall.zip}} | <a href="tel:{{mall.phone-area}}.{{mall.phone-prefix}}.{{mall.phone-number}}">({{mall.phone-area}}) {{mall.phone-prefix}}-{{mall.phone-number}}</a></span>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
